<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>CampoAPPrende 1.0</name>
<access origin="*" subdomains="true" />
<description>
Educación financiera Banco Agrario - Fiduagraria.
Proyecta tus sueños. Hacerlos realidad sí es posible
</description>

<author href="https://example.com" email="you@example.com">
Poteka Designio
</author>
<preference name="orientation" value="landscape" />
</widget>
